@import "../base/typography.scss";


.nav__home {
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    padding: 20px 20px 20px 20px;

}

.nav__home h1 {
  font-family: $default-font;
  font-weight: 800;
  background: linear-gradient(to right, #B01EFF, #E1467C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 1rem;

}

.home__subscribe {
  position: absolute;
  right: 1rem;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: .1rem .5rem;
  color: #071c35;
}




