{% extends "base.html" %}
{% load humanize %}
{% load tz %}

{% block detail_title_meta %}
    <title>{{ shoe.brand }} - {{ shoe.title }} | SneakerDrop</title>
{% endblock %}

{% block content %}
    <!-- Swiper -->
    <div class="details__wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in shoe.shoeimage_set.all %}
                    <div class="swiper-slide "><img class="slider_card" src="{{ image.image.url }}"
                                                    alt="{{ shoe.brand }} {{ shoe.title }} shoe"></div>
                {% endfor %}
            </div>
            <!--Pagination-->
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="details__container">
            <div class="detail__details">
                <div class="detail__brand">{{ shoe.brand }}</div>
                <div class="details__count-title">
                    <h2 class="detail__title">{{ shoe.title }}</h2>
                    {% if shoe.price %}
                        <div class="detail__price">${{ shoe.price }}</div>
                    {% else %}
                    {% endif %}
                    <div class="details__countdown-wrapper">
                            {% if shoe.date_in_past %}
                                <a href="{{ shoe.get_it_url }}" class="details__get-it-url">Get it</a>
                            {% else %}
                                <span class="detail_countdown">⏱️</span>
                                <span class="details__dropping">DROPPING:</span>
                                {{ shoe.releaseDate|timezone:"America/New_York" }}

                            {% endif %}
                    </div>

                </div>

                {% if shoe.description %}
                    <h3>The details</h3>
                    <div>{{ shoe.description }}</div>
                {% else %}
                {% endif %}
                <div class="details__specs">
                    {% if shoe.shoespecs_set.all %}
                        <h3>The Specs</h3>
                    {% endif %}
                    <ul class="details__specs">
                        {% for spec in shoe.shoespecs_set.all %}
                            <li>⚡{{ spec.spec }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{# Use if else to displate a released button rather then coundown #}