{% extends "base.html" %}

{# to be released #}
{% block content %}
    <div class="card__wrapper">
        <div>
            {% if shoes_release %}
                <h2 class="card__drop-month"><b>Just Dropped</b></h2>
            {% endif %}
            {% for shoe in shoes_release %}
                <div class="card">
                    <div class="card__inner">
                        <img class="card__image" src=" {{ shoe.first_image.image.url }} "
                                 alt="{{ shoe.brand }} {{ shoe.title }} shoe"
                                 onclick="window.location= '{% url 'detail' shoe.id %}';">
                        <div class="card__shoe-details">
                        <span class="card__shoe-brand"
                              onclick="window.location= '{% url 'detail' shoe.id %}';">{{ shoe.brand }}</span>
                            <h3 class="shoe__shoe-title"
                                onclick="window.location= '{% url 'detail' shoe.id %}';">{{ shoe.title }}</h3>
                            <span id="myButton" class="material-icons-outlined card__share"
                                  onclick="CopyToClipboard('{{ shoe.id }}');return false;">link</span>
                            <span id="{{ shoe.id }}"
                                  class="sr-only">{{ request.build_absolute_uri }}sneakers/{{ shoe.id }}</span>
                        </div>
                        <div class="card__to-details" onclick="window.location= '{% url 'detail' shoe.id %}';">
                            <span class="material-icons">arrow_right_alt</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% regroup shoes_not_released by releaseDate|date:"M" as shoes_not_released %}
        {% for date in shoes_not_released %}
            <div>
                <h2 class="card__drop-month"><b>{{ date.grouper }} drop</b></h2>
                {% for shoe in date.list %}
                    <div class="card">
                        <div class="card__inner">
                                <img class="card__image" src=" {{ shoe.first_image.image.url }} "
                                 alt="{{ shoe.brand }} {{ shoe.title }} shoe"
                                 onclick="window.location= '{% url 'detail' shoe.id %}';">
                            <div class="card__shoe-details">
                            <span class="card__shoe-brand"
                                  onclick="window.location= '{% url 'detail' shoe.id %}';">{{ shoe.brand }}</span>
                                <h3 class="shoe__shoe-title"
                                    onclick="window.location= '{% url 'detail' shoe.id %}';">{{ shoe.title }}</h3>
                                <span id="myButton" class="material-icons-outlined card__share"
                                      onclick="CopyToClipboard('{{ shoe.id }}');return false;">link</span>
                                <span id="{{ shoe.id }}"
                                      class="sr-only">{{ request.build_absolute_uri }}shoes/{{ shoe.id }}</span>
                            </div>
                            <div class="card__date" onclick="window.location= '{% url 'detail' shoe.id %}';">
                                <span>{{ shoe.releaseDate | date:'jS' }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{#use first of function for image#}