@import "../base/typography.scss";
@import "../utilities/variables.scss";


.card__drop-month {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size:$text-small;
  font-weight:$text-weight-4;
}

.card {
  background: white;
  margin-top: 1rem;
}

.card__inner {
  display: grid;
  grid-template-columns: max-content auto auto;
  padding: 1rem;
}

.card__shoe-details {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: max-content auto auto;
  margin-left: 1rem;
}

.card__image {
  width: 100px;
  height: 100px;
  border-radius: 0.625rem;
}

.card__shoe-brand {
  font-size: .875rem;
}

.card__share {
  align-self: end;
}

.card__date {
  align-self: center;
  justify-self: end;
  border: 2px solid black;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: .875rem;
}





.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
